button{
  cursor: pointer;
  background-color: var(--primary-1);
  color: var(--on-primary);
  border: 2px solid var(--primary-2);
  font-size: 1.2rem;
  padding: .6em 1.8em;
  border-radius: 4px;
}
button:active{
  filter: brightness(0.9);
}
