@import url('../node_modules/primeflex/primeflex.css');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
:root {
  --primary-1: #a4c2f4;
  --primary-2: #4a86e8;
  --on-primary: #000;
  --secondary-1: #d9d9d9;
  --secondary-2: #eee;
  --surface: #fff;
  --background: #d9d9d9;

  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background);
  color: var(--on-primary);

}
.container {
  max-width: 1520px !important;
  margin: auto !important;
}

.p-datatable .p-datatable-tbody > tr > td{
  border: 0;
}
label{
  font-size: 1.2rem;
  margin-bottom: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
